/* reset css */

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* starts here */

body {
  background-color: rgb(0, 0, 0);
  height: 100vh;

  & main {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
      font-size: 2.5rem;
      text-align: center;
      font-weight: 700;
    }

    & .options {
      font-size: 1.5rem;
      font-weight: 600;


      & button {
        padding: .5rem 1.5rem;
        border: 2px solid rgba(0, 0, 0, .9);
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
      }

      & button:hover {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
      }

      & button#yes {
        background-color: #307949;
        margin-right: 2rem;
      }

      & button#no {
        background-color: #f36c46;
      }
    }
  }
}

#message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Cambia negro sólido a 70% de opacidad */
  display: none;
  justify-content: center;
  align-items: center;
  
  & h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    animation: palpitation 2s ease-in-out infinite;
    line-height: 4rem;
  }
}

@keyframes palpitation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
#extra-image {
  width: 200px;
  display: none;
  margin-top: 10px;
  border: 5px solid #000; /* Borde negro de 5px */
  border-radius: 10px; /* Esquinas redondeadas */
}
#universe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: black;
}

body {
  color: white; /* Cambia "white" por el color que quieras */
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Mantenerlo detrás de los elementos */
}

